# Required
GENESIS_DSN=postgres://genesis@127.0.0.1:5432/genesis
GENESIS_VAULT_URL=https://vault.example.com:8200/v1/auth/approle/login
GENESIS_VAULT_ROLE_ID=changeme
GENESIS_VAULT_SECRET_ID=changeme
# Optional
GENESIS_TLS_CERT_PATH=/run/genesis/tls.crt
GENESIS_TLS_KEY_PATH=/run/genesis/tls.key
GENESIS_TLS_CA_PATH=/run/genesis/ca.pem
GENESIS_PORT=8000
GENESIS_LOG_LEVEL=info
GENESIS_ADMISSION_ISS=https://genesis.permesi.localhost
GENESIS_ADMISSION_AUD=permesi
GENESIS_TRANSIT_MOUNT=transit/genesis
GENESIS_IP_HEADER=CF-Connecting-IP
GENESIS_COUNTRY_HEADER=CF-IPCountry
