/target/
**/*.rs.bk
.tmp/
!.tmp/.gitkeep
dist/
node_modules/
apps/web/dist/
apps/web/assets/app.gen.css
apps/web/node_modules/
.envrc
.otel-collector-config.yml
fly.toml
db/data
db/log
vault/keys.json

# Editor/IDE artifacts
flycheck_*
flycheck*.rs
.flycheck_*

# test artifacts
/tests/tmp/
*.db

# docs
docs/book/
docs/mermaid.min.js
docs/mermaid-init.js
docs/svg-pan-zoom.min.js
.bin/
