---
name: Test & Build

on:
  push:
    branches:
      - '*'
  workflow_dispatch:

permissions:
  contents: write
  packages: write

jobs:
  test:
    uses: ./.github/workflows/test.yml

  coverage:
    uses: ./.github/workflows/coverage.yml
    secrets: inherit

  build:
    name: Build
    runs-on: ${{ matrix.os }}
    needs: test

    strategy:
      matrix:
        include:
          - build: linux
            os: ubuntu-latest
            target: x86_64-unknown-linux-musl
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Branch name
        run: echo "${GITHUB_REF##*/}"

      - name: Get the release version from the tag
        run: echo "VERSION=${GITHUB_REF#refs/tags/}" >> $GITHUB_ENV

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: ${{ matrix.target }}

      - run: sudo apt -y install musl-dev musl-tools
        if: matrix.build == 'linux'

      - name: Build Linux
        run: |
          cargo build --release --locked --target ${{ matrix.target }} -p permesi -p genesis
        if: matrix.build == 'linux'

      - name: Build
        run: |
          cargo build --release --locked --target ${{ matrix.target }} -p permesi -p genesis
        if: matrix.build != 'linux'

  package:
    uses: ./.github/workflows/package.yml
    needs: build
    if: github.ref_name == 'develop'
    secrets: inherit
