---
name: Coverage

on:
  workflow_call:
    secrets:
      CODECOV_TOKEN:
        required: false

permissions:
  contents: read

jobs:
  coverage:
    name: Coverage
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/pre-clean-workspace
      - uses: dtolnay/rust-toolchain@stable
        with:
          components: llvm-tools-preview
      - name: Cleanup stale postgres data
        run: sudo rm -rf db/data || true

      - uses: ./.github/actions/ensure-container-runtime

      - name: Install cargo-llvm-cov
        uses: taiki-e/install-action@cargo-llvm-cov

      - name: Verify cargo-llvm-cov
        run: |
          command -v cargo-llvm-cov
          cargo llvm-cov --version

      - name: Run llvm-cov
        run: cargo llvm-cov --workspace --lcov --output-path coverage.lcov

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.lcov
          flags: rust

      - name: Coveralls GitHub Action
        uses: coverallsapp/github-action@v2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: coverage.lcov
